* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

#title {
    margin: 15px 0;
}

#titleInfo {
    text-align: center;
    font-size: 4rem;
    font-family: Monaco, Consolas, 'Courier New';
}

#scoreInfo {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 1rem;
    font-family: Monaco, Consolas, 'Courier New';
}

#info {
    text-align: center;
    font-size: 1rem;
    font-family: Monaco, Consolas, 'Courier New';
}

#table {
    position: relative;
    margin: 0 auto;
}

#table div,
#drag {
    border-radius: 5px;
}

#bricks {
    position: relative;
    margin: 10px auto;
}
